.weapons-container {
  padding: 2rem 0;
  color: #fff;
}

.weapons-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}

.weapon-card {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5%;
}

.weapon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 .2rem #13e3fe,
    0 0 .2rem #fff,
    0 0 2rem #13e3fe,
    0 0 0.8rem #13e3fe,
    0 0 1rem #13e3fe,
    inset 0 0 1.3rem #13e3fe;
}

.weapon-card .card-body {
  padding: 1.5rem;
}

.weapon-card .card-title {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.weapon-card .card-text {
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}

.weapon-card .munitions {
  font-weight: bold;
  color: white;
}

.weapon-image {
  padding: 0.5em;
  border-radius: 1.5em;
  height: 300px;
  object-fit: cover;
}