.carousel-dimension {
  width: 50%;
  height: 85vh;
  box-shadow: 0 0 .2rem #13e3fe,
    0 0 .2rem #fff,
    0 0 2rem #13e3fe,
    0 0 0.8rem #13e3fe,
    0 0 1rem #13e3fe,
    inset 0 0 1.3rem #13e3fe;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5%;
}

.container-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  margin-top: 2em;
  text-align: center;
  padding: 20px;
  margin-bottom: 5em;
  overflow: visible;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  transform: scale(1.2);
}

.image-carousel {
  width: 80%;
  padding: 1em;
  border-radius: 10%;
}

.carousel-description {
  font-size: 1.1em;
  padding: 0.5em;
}