.d_carousel {
    width: 45em;
    height: 50%;
    overflow: visible;
    position: relative;
    background-color: black;
    filter: opacity(80%);
    border-bottom: transparent;
}

.posizione {
    height: 100%;   
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    overflow: visible;
    margin-top: 2em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%; /* Aggiungi bordi arrotondati se vuoi */
  width: 50px;
  height: 50px;    
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  transform: scale(1.2); /* Ingrandisce l'icona al passaggio del mouse */
}
.desc {
  font-size: large;
  text-align: center;
  background-color: black;
  filter: opacity(80%);
}