.characters-container {
  padding: 2rem 0;
  color: white;
  height: 150vh;
}

.div-img {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
  padding: 0.3em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  height: 30%;
  box-shadow: 0 0 .2rem #13e3fe,
    0 0 .2rem #fff,
    0 0 2rem #13e3fe,
    0 0 0.8rem #13e3fe,
    0 0 1rem #13e3fe,
    inset 0 0 1.3rem #13e3fe;

}

.div-img:nth-child(odd) {
  flex-direction: row;
}

.div-img:nth-child(even) {
  flex-direction: row-reverse;
}

.image {
  height: 100%;
  border-radius: 1em;
}

.div-details {
  text-align: center;
  flex: 1;
  font-size: 1.1em;
  padding: 1em;
}

.div-img:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 .2rem #13e3fe,
    0 0 .2rem #fff,
    0 0 2rem #13e3fe,
    0 0 0.8rem #13e3fe,
    0 0 2rem #13e3fe,
    inset 0 0 1.3rem #13e3fe;
}